.promo {
	padding: 40px 0 20px;
	// .promo__main
	&__main {
		min-height: 970px;
		background: url('@img/banner.jpg') 0 0 / cover no-repeat, #303030;
		color: #fff;
		width: 100%;
		padding: 60px;
	}
	// .promo__title
	&__title {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding-bottom: 10px;
		& span {
			&:first-child {
				text-indent: em(196, 64);
			}
			&:last-child {
				text-indent: em(98, 64);
			}
		}
	}
	// .promo__side
	&__side {
		gap: 20px;
	}
	// .promo__side-link
	&__side-link {
		width: 220px;
		height: 200px;
		font-size: 18px;
		text-transform: uppercase;
		padding: 26px 20px 20px 30px;
		transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
		&::before {
			transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
		}
		&:nth-child(1) {
			color: #fff;
			border: 1px solid rgba($color: #fff, $alpha: 0.3);
			&::before {
				background: $accent;
				color: #fff;
			}
			@media (any-hover: hover) {
				&:hover {
					background: $accent;
					color: #fff;
					&::before {
						background: #fff;
						color: $text;
					}
				}
			}
		}
		&:nth-child(2) {
			margin-top: 200px;
			background: $accent;
			color: #fff;
			&::before {
				background: #fff;
				color: $text;
			}
			@media (any-hover: hover) {
				&:hover {
					background: darken($accent, 10%);
				}
			}
		}
		&::before {
			margin-left: auto;
			width: 50px;
			height: 50px;
			flex-shrink: 0;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}

.benefits {
	padding: 20px 0 138px;
	.row {
		--bs-gutter-x: 20px;
	}
	// .benefits__cards
	&__cards {
		.row {
			--bs-gutter-x: 20px;
			--bs-gutter-y: 20px;
		}
	}
	// .benefits__card
	&__card {
		gap: 23px;
		background: #fff;
		padding: 30px 30px 35px 40px;
	}
	// .benefits__card-icon
	&__card-icon {
		margin-left: auto;
		margin-bottom: auto;
	}
	// .benefits__card-text
	&__card-text {
		font-size: 21px;
		line-height: 120%;
		letter-spacing: em(-1.05, 21);
	}
	// .benefits__image
	&__image {
		position: relative;
		height: 0;
		width: 100%;
		padding-bottom: 75%;
		& img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			max-width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

.categories {
	border-radius: 50px 50px 0 0;
	background: #fff;
	padding: 128px 0 55px;
	// .categories__header
	&__header {
		gap: 40px;
	}
	// .categories__header-caption
	&__header-caption {
		padding-top: 10px;
		flex-shrink: 0;
	}
	// .categories__header-title
	&__header-title {
		display: flex;
		flex-direction: column;
		padding-left: 50px;
		& span {
			text-indent: 130px;
		}
	}
	// .categories__body
	&__body {
		margin-top: 40px;
		.row {
			--bs-gutter-x: 40px;
			--bs-gutter-y: 54px;
		}
	}
}

.project {
	@media (any-hover: hover) {
		&:hover {
			.project__image {
				& img {
					transform: scale(1.01);
				}
			}
			.project__arrow {
				transform: none;
			}
		}
	}
	// .project__image
	&__image {
		position: relative;
		overflow: hidden;
		& img {
			transition: transform 0.3s ease 0s;
		}
	}
	// .project__quantity
	&__quantity {
		position: absolute;
		top: 30px;
		left: 30px;
		color: #fff;
		font-family: $font-sf;
		font-size: 24px;
		font-weight: 500;
		border-radius: 40px;
		background: rgba(0, 0, 0, 0.3);
		backdrop-filter: blur(5px);
		-webkit-backdrop-filter: blur(5px);
		padding: 16px 45px;
	}
	// .project__arrow
	&__arrow {
		position: absolute;
		bottom: 40px;
		right: 40px;
		width: 80px;
		height: 80px;
		flex-shrink: 0;
		border-radius: 50%;
		background: #fff;
		color: $accent;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: 24px;
		transform: rotate(-45deg);
		transition: transform 0.3s ease 0s;
	}
	// .project__name
	&__name {
		margin-top: 22px;
		font-size: 36px;
		line-height: 120%;
		letter-spacing: em(-1.8, 36);
		transition: color 0.3s ease 0s;
	}
}

.projects {
	background: #fff;
	border-radius: 0 0 50px 50px;
	padding: 60px 0 140px;

	// .projects__header
	&__header {
	}
	// .projects__caption
	&__caption {
		padding-top: 10px;
		white-space: nowrap;
	}
	// .projects__title
	&__title {
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		padding-right: 20px;
		& span {
			text-indent: em(130, 50);
		}
	}
	// .projects__controls
	&__controls {
		gap: 20px;
		padding-bottom: 10px;
	}
	// .projects__prev
	&__prev {
		@extend .slick-arrow;
	}
	// .projects__next
	&__next {
		@extend .slick-arrow;
	}
	// .projects__body
	&__body {
		position: relative;
		margin: 45px auto 0 120px;
		display: grid;
		align-items: end;
		grid-template-columns: 1000px 1fr;
		gap: 20px;
	}
	// .projects__slider
	&__slider {
		position: relative;
		z-index: 2;
		display: flex;
		width: 100%;
		height: 600px;
		margin-left: -10px;
		transition: transform 0.5s ease-in-out;
	}

	// .projects__slide
	&__slide {
		aspect-ratio: math.div(1000, 600);
		position: relative;
		z-index: 1;
		& img {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(0deg, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%);
			z-index: 1;
			transition: opacity 0.3s ease 0s;
		}
		width: 500px;
		height: 300px;
		margin: 0 10px;
		transition: all 0.5s ease;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;
		// will-change: contents;
		// contain: size;

		&.active {
			width: 1000px;
			height: 600px;
			cursor: default;
			&::before {
				opacity: 0;
			}
		}
	}
	// .projects__infos
	&__infos {
		position: relative;
		z-index: 3;
	}
	// .projects__info
	&__info {
		display: none;
		border-radius: 30px;
		background: #fff;
		border: 1px solid rgba(48, 48, 48, 0.2);
		padding: 33px 30px 25px 38px;
		flex-direction: column;
		&.active {
			display: flex;
		}
	}
	// .projects__info-title
	&__info-title {
		font-size: 36px;
		line-height: 120%;
		letter-spacing: em(-1.8, 36);
	}
	// .projects__info-props
	&__info-props {
		margin-top: 16px;
		font-family: $font-sf;
		font-size: 24px;
		font-weight: 300;
		text-transform: uppercase;
		gap: 24px;
	}
	// .projects__info-price
	&__info-price {
		margin-top: 16px;
		color: #333;
		font-size: 36px;
		font-weight: 500;
		line-height: 120%;
		letter-spacing: em(-1.8, 36);
	}
	// .projects__info-btn
	&__info-btn {
		margin-top: 10px;
		margin-left: auto;
	}
}

.complex {
	padding: 138px 0 68px;
	// .complex__columns
	&__columns {
		gap: 20px;
	}
	// .complex__column
	&__column {
		&:nth-child(5n + 1),
		&:nth-child(5n + 2),
		&:nth-child(5n + 4),
		&:nth-child(5n + 5) {
			flex: 0 0 400px;
		}
		flex: 0 0 600px;
	}
	// .complex__image
	&__image {
		& + .complex__image {
			margin-top: 20px;
		}
	}
	// .complex__caption
	&__caption {
		margin-bottom: 26px;
	}
	// .complex__title
	&__title {
		margin-bottom: 46px;
	}
}

.about {
	padding: 68px 0 30px;
	// .about__caption
	&__caption {
	}
	// .about__title
	&__title {
		max-width: 1112px;
		margin: 32px auto 0;
	}
	// .about__desc
	&__desc {
		font-family: $font-sf;
		font-size: 20px;
		line-height: 150%;
		margin: 13px auto 0;
		max-width: 1296px;
	}
	// .about__slider
	&__slider {
		margin-top: 50px;
		margin-left: -65px;
		.slick-list {
			overflow: visible;
		}
		.slick-track {
			display: flex;
			gap: 40px;
			& > * {
				&:nth-child(5n + 1) {
					align-self: flex-end;
					margin-bottom: 55px;
				}
				&:nth-child(5n + 1),
				&:nth-child(5n + 5) {
					max-width: 300px;
				}
				&:nth-child(5n + 2),
				&:nth-child(5n + 4) {
					max-width: 450px;
				}
				&:nth-child(5n + 3) {
					max-width: 360px;
					margin-top: 20px;
				}
				&:nth-child(5n + 5) {
					margin-top: 35px;
				}
			}
		}
	}
	// .about__slide
	&__slide {
	}
	// .about__card
	&__card {
		background: #fff;
		padding: 40px 25px 36px 40px;
	}
	// .about__card-title
	&__card-title {
		font-size: 21px;
		line-height: 140%;
		text-transform: uppercase;
	}
	// .about__card-text
	&__card-text {
		margin-top: 16px;
		font-family: $font-sf;
		font-size: 18px;
		font-weight: 300;
		line-height: 150%;
	}
	// .about__card-logo
	&__card-logo {
		margin-top: 20px;
		margin-right: 15px;
		margin-left: auto;
		max-width: 105px;
	}
}

.nums {
	padding: 30px 0;
	// .nums__cards
	&__cards {
		border-radius: 50px;
		background: #fff;
		padding: 29px 100px 36px;
		gap: 16px;
	}
	// .nums__card
	&__card {
		gap: 16px;
	}
	// .nums__card-value
	&__card-value {
		color: #b0cb1f;
		font-size: 50px;
		font-weight: 500;
	}
	// .nums__card-column
	&__card-column {
		padding-top: 24px;
	}
	// .nums__card-title
	&__card-title {
		font-size: 24px;
	}
	// .nums__card-desc
	&__card-desc {
		margin-top: 6px;
		font-family: $font-sf;
		font-size: 16px;
		font-weight: 300;
		line-height: 130%;
		max-width: 240px;
	}
}

.steps {
	padding: 75px 0 135px;
	// .steps__header
	&__header {
	}
	// .steps__caption
	&__caption {
		padding-top: 10px;
	}
	// .steps__title
	&__title {
		display: flex;
		flex-direction: column;
		padding-left: 50px;
		& span {
			text-indent: em(130, 50);
		}
	}
	// .steps__body
	&__body {
		margin-top: 32px;
		& > .row {
			--bs-gutter-x: 70px;
		}
	}
	// .steps__content
	&__content {
		& > .row {
			--bs-gutter-x: 20px;
			--bs-gutter-y: 20px;
		}
	}
	// .steps__card
	&__card {
		background: #fff;
		padding: 40px 40px;
	}
	// .steps__card-icon
	&__card-icon {
		margin-bottom: auto;
	}
	// .steps__card-text
	&__card-text {
		margin-top: 45px;
		font-size: 20px;
		text-transform: uppercase;
		max-width: 260px;
	}
	// .steps__more
	&__more {
	}
	// .steps__more-image
	&__more-image {
		position: relative;
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			border-radius: 30px;
			background: linear-gradient(0deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 100%);
		}
	}
	// .steps__more-text
	&__more-text {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		color: #fff;
		font-size: 20px;
		padding: 35px 50px;
		text-transform: uppercase;
		color: #fff;
		z-index: 2;
	}
	// .steps__more-btn
	&__more-btn {
		position: absolute;
		bottom: 40px;
		right: 50px;
	}
	// .steps__list
	&__list {
		border-radius: 30px;
		border: 1px solid rgba(0, 0, 0, 0.2);
		padding: 40px;
	}
	// .steps__item
	&__item {
		&:not(:last-child) {
			margin-bottom: 25px;
			.steps__link {
				padding-bottom: 25px;
				&::before {
					display: block;
				}
			}
		}
	}
	// .steps__link
	&__link {
		gap: 30px;
		transition: color 0.3s ease 0s;
		color: rgba($color: $text, $alpha: 0.6);
		position: relative;
		&::before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			display: none;
			width: 100%;
			height: 1px;
			background: rgba(0, 0, 0, 0.2);
			transform-origin: bottom center;
			transition: transform 0.3s ease 0s, background-color 0.3s ease 0s;
		}
		@media (any-hover: hover) {
			&:hover {
				color: $text;
				&::before {
					transform: scaleY(2);
					background: $accent;
				}
			}
		}
		&:not(:hover) {
			.steps__icon {
				& svg {
					& path {
						fill: rgba($color: #262626, $alpha: 0.6);
					}
				}
			}
		}
	}
	// .steps__icon
	&__icon {
		width: 50px;
		height: 50px;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-shrink: 0;
		& svg {
			& path {
				transition: fill 0.3s ease 0s;
			}
		}
	}
	// .steps__text
	&__text {
		font-size: 20px;
		font-weight: 500;
		text-transform: uppercase;
	}
}

.clients {
	border-radius: 50px 50px 0 0;
	background: #fff;
	padding: 132px 0 140px;
	// .clients__header
	&__header {
	}
	// .clients__caption
	&__caption {
		padding-top: 5px;
	}
	// .clients__title
	&__title {
		display: flex;
		flex-direction: column;
		padding-left: 50px;
		& span {
			text-indent: em(70, 50);
		}
	}
	// .clients__body
	&__body {
		margin-top: 16px;
		.row {
			--bs-gutter-y: 35px;
		}
	}
	// .clients__controls
	&__controls {
		gap: 20px;
		display: none;
		&.active {
			display: flex;
		}
	}
	// .clients__prev
	&__prev {
	}
	// .clients__next
	&__next {
	}
	// .clients__tabs
	&__tabs {
		gap: 19px;
		width: 100%;
		padding-left: 50px;
	}
	// .clients__tabs-btn
	&__tabs-btn {
		position: relative;
		flex: 1 1 auto;
		color: rgba(0, 0, 0, 0.2);
		font-family: $font-sf;
		font-size: 32px;
		font-weight: 300;
		text-transform: uppercase;
		display: block;
		padding-top: 15px;
		padding-bottom: 25px;
		&.active {
			color: #b0cb1f;
			font-weight: 400;
			&::before {
				transform: scaleY(1.5);
			}
		}
		&::before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 2px;
			background: currentColor;
			transition: transform 0.3s ease 0s;
		}
	}
	// .clients__tabs-content
	&__tabs-content {
		display: none;
		&.active {
			display: block;
		}
	}
	// .clients__videos
	&__videos {
		max-width: 1360px;
		margin-left: auto;
		// margin-right: -30px;

		.slick-list {
			overflow: visible;
		}
		.slick-track {
			display: flex;
			gap: 30px;
		}
	}
	// .clients__video
	&__video {
		position: relative;
		&:nth-child(even) {
			max-width: 712px;
		}
	}
	// .clients__photos
	&__photos {
		margin: 0 -9px;
		.slick-list {
			overflow: visible;
		}
	}
	// .clients__photos-card
	&__photos-card {
		padding: 0 9px;
	}
	// .clients__photos-image
	&__photos-image {
		position: relative;
		height: 0;
		width: 100%;
		padding-bottom: 54%;
		& img {
			position: absolute;
			top: 0;
			left: 0;
		}
	}
	// .clients__photos-info
	&__photos-info {
		margin-top: 20px;
		border: 1px solid rgba(0, 0, 0, 0.1);
		padding: 34px 40px;
	}
	// .clients__photos-title
	&__photos-title {
		font-size: 21px;
		line-height: 140%;
		text-transform: uppercase;
	}
	// .clients__photos-desc
	&__photos-desc {
		margin-top: 12px;
		color: rgba($color: #303030, $alpha: 0.7);
		font-family: $font-sf;
		font-size: 18px;
		font-weight: 300;
		line-height: 150%;
	}
}
