.service {
	padding: 0px 0px 70px 0px;
	@media (min-width: $md2) {
		padding: 0px 0px 140px 0px;
	}
	// .service__header
	&__header {
	}
	// .service__caption
	&__caption {
	}
	// .service__title
	&__title {
		display: flex;
		flex-direction: column;
		& span {
			text-indent: em(70, 50);
		}
		@media (min-width: $md4) {
			padding-left: em(50, 50);
		}
	}
	// .service__list
	&__list {
		padding: 8px 0 0 0;
	}
	// .service__item
	&__item {
		&:not(:last-child) {
			margin-bottom: 18px;
		}
	}
	// .service__item-title
	&__item-title {
		color: #303030;
		font-family: $font-sf;
		text-transform: uppercase;
		font-size: 20px;
		@media (min-width: $md4) {
			font-size: 24px;
		}
	}
	// .service__item-text
	&__item-text {
		color: #303030;
		font-size: 20px;
		@media (min-width: $md4) {
			font-size: 24px;
		}
		font-family: $font-sf;
		& a {
			color: $accent;
			text-decoration: underline;
			@media (any-hover: hover) {
				&:hover {
					text-decoration: none;
				}
			}
		}
	}
	// .service__item-hint
	&__item-hint {
		color: rgba($color: #303030, $alpha: 0.7);
		font-family: $font-sf;
		font-weight: 300;
		font-size: 16px;
		@media (min-width: $md4) {
			font-size: 20px;
		}
	}
	// .service__body
	&__body {
		margin-top: 44px;
	}
	// .service__artilce
	&__artilce {
		@media (min-width: $md4) {
			background: #fff;
			padding: 42px 50px;
		}
		@media (min-width: $md2) {
			padding: 84px 100px;
		}
		&:not(:last-child) {
			margin-bottom: 50px;
			@media (min-width: $md5) {
				margin-bottom: 100px;
			}
		}
		& p,
		ul {
			color: rgba($color: #303030, $alpha: 0.7);
			font-family: $font-sf;
			font-weight: 300;
			line-height: 150%;
			font-size: 18px;
			@media (min-width: $md5) {
				font-size: 20px;
			}
			&:not(:last-child) {
				margin-bottom: 6px;
				@media (min-width: $md5) {
					margin-bottom: 12px;
				}
			}
		}
		& strong {
			font-weight: 600;
		}
		& ul {
			list-style: disc;
			padding-left: 2em;
		}
		& a {
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
			& img {
				border-radius: 25px;
				@media (min-width: $md5) {
					border-radius: 50px;
				}
				min-height: 100%;
				object-fit: cover;
			}
		}
		.row {
			@media (min-width: $md5) {
				--bs-gutter-x: 40px;
				--bs-gutter-y: 40px;
			}
		}
	}
	// .service__artilce-title
	&__artilce-title {
		margin-bottom: 30px;
		@media (min-width: $md5) {
			margin-bottom: 40px;
		}
	}
}
