.header {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;

	z-index: 6;
	transition: padding 0.1s ease 0s, transform 0.1s ease 0s;
	will-change: padding;
	contain: layout;
	transform: translate3d(0, 0, -1px);
	padding: 40px 0 0 0;
	&.scroll {
		padding: 20px 0 0 0;
		&.header_offset {
			transform: translate3d(0, 0, -1px);
		}
	}
	&.header_offset {
		transform: translate3d(0, 40px, -1px);
		margin-bottom: -110px;
		.header__main {
			padding: 0 50px;
		}
	}
	// .header__wrapper
	&__wrapper {
		position: relative;
	}
	// .header__main
	&__main {
		position: relative;
		z-index: 2;
	}
	// .header__logo
	&__logo {
		max-width: 125px;
	}
	// .header__actions
	&__actions {
		margin-right: 145px;
	}
	// .header__search
	&__search {
		margin-left: 70px;
		position: relative;
	}
	// .header__search-btn
	&__search-btn {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		color: $accent;
		left: 24px;
		font-size: 20px;
	}
	// .header__search-input
	&__search-input {
		color: $text;
		font-family: $font-sf;
		font-size: 16px;
		font-weight: 300;
		background-color: #fff;
		border: 1px solid #fff;
		padding: 26px 20px 26px 50px;
		text-overflow: ellipsis;
		max-width: 200px;
		border-radius: 60px;
		transition: color 0.3s ease 0s, border-color 0.3s ease 0s;
		&:focus {
			border: 1px solid $accent;
		}
		&:placeholder {
			opacity: 0.6;
		}
		.header.open-menu & {
			background: #f9f9f9;
			border: 1px solid #f9f9f9;
			&:focus {
				border: 1px solid $accent;
			}
		}
	}
	// .header__action
	&__action {
		background: #fff;
		width: 70px;
		height: 70px;
		flex-shrink: 0;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		color: $accent;
		font-size: 26px;
		position: relative;
		padding: 4px 0 0 0;
		transition: background-color 0.3s ease 0s, color 0.3s ease 0s;
		&.icon-compare {
			padding-top: 0px;
			padding-right: 4px;
		}
		@media (any-hover: hover) {
			&:hover {
				background: $accent;
				color: #fff;
				.header__action-quantity {
					color: rgba($color: #fff, $alpha: 0.5);
				}
			}
		}
		.header.open-menu & {
			background: #f9f9f9;
			@media (any-hover: hover) {
				&:hover {
					background: $accent;
					color: #fff;
					.header__action-quantity {
						color: rgba($color: #fff, $alpha: 0.5);
					}
				}
			}
		}
	}
	// .header__action-quantity
	&__action-quantity {
		color: rgba($color: #000000, $alpha: 0.5);
		font-family: $font-sf;
		font-size: 14px;
		position: absolute;
		bottom: 14px;
		right: 14px;
		transition: color 0.3s ease 0s;
	}
	// .header__menu-btn
	&__menu-btn {
	}
	// .header__contacts
	&__contacts {
	}
	// .header__whatsapp
	&__whatsapp {
		background: #fff;
		width: 70px;
		height: 70px;
		flex-shrink: 0;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		color: $accent;
		font-size: 32px;
		.header.open-menu & {
			background: #f9f9f9;
		}
	}
	// .header__contacts-block
	&__contacts-block {
		background: #fff;
		padding: 14px 30px;
		.header.open-menu & {
			background: #f9f9f9;
		}
	}
	// .header__contacts-link
	&__contacts-link {
		font-size: 18px;
		line-height: 140%;
		transition: color 0.3s ease 0s;
		&.sm-link {
			font-size: 16px;
			font-weight: 300;
			line-height: 140%;
			font-family: $font-sf;
		}
	}
	// .header__contacts-feedback
	&__contacts-feedback {
		margin-left: 30px;
	}
	// .header__menu
	&__menu {
	}
}

.menu {
	background: #fff;
	position: absolute;
	top: -38px;
	left: 0;
	width: 100%;
	padding: 173px 50px 78px;
	z-index: 1;
	transition: transform 0.3s ease 0s, opacity 0.3s ease 0s, visibility 0.3s ease 0s;
	opacity: 0;
	visibility: hidden;
	transform: translateY(-100%);
	.header.open-menu & {
		transform: none;
		opacity: 1;
		visibility: visible;
	}
	// .menu__body
	&__body {
	}
	// .menu__list
	&__list {
		color: #333;
		font-family: $font-sf;
		font-size: 21px;
		gap: 20px;
		max-width: 1000px;
		margin-right: auto;
	}
	// .menu__item
	&__item {
	}
	// .menu__link
	&__link {
		border-radius: 40px;
		background: #f9f9f9;
		padding: 20px 40px;
		display: flex;
		align-items: center;
		gap: 6px;
		transition: background-color 0.3s ease 0s;
		&.active {
			&::before {
				transform: rotate(180deg);
			}
		}
		&::before {
			order: 1;
			font-size: 3px;
			transition: transform 0.3s ease 0s;
		}
		@media (any-hover: hover) {
			&:hover {
				background-color: darken($color: #f9f9f9, $amount: 5);
				color: $text;
			}
		}
	}
	// .menu__arrow
	&__arrow {
	}
	// .menu__contacts
	&__contacts {
		gap: 20px;
	}
	// .menu__contacts-row
	&__contacts-row {
	}
	// .menu__contacts-whatsapp
	&__contacts-whatsapp {
		width: 65px;
		height: 65px;
		border-radius: 50%;
		flex-shrink: 0;
		font-size: 30px;
		background: #84a12f;
		color: #fff;
		display: flex;
		justify-content: center;
		align-items: center;
		transition: background-color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				background-color: darken($color: #84a12f, $amount: 10);
				color: #fff;
			}
		}
	}
	// .menu__contacts-link
	&__contacts-link {
		font-size: 24px;
		background: #84a12f;
		color: #fff;
		white-space: nowrap;
		font-size: 24px;
		font-weight: 500;
		line-height: 140%;
		padding: 16px 40px;
		border-radius: 60px;
		transition: background-color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				background-color: darken($color: #84a12f, $amount: 10);
				color: #fff;
			}
		}
	}
}

.submenu {
	display: none;
	@media (min-width: $md3) {
		position: absolute;
		z-index: 1;
		top: calc(100% - 5px);
		left: -1px;
		right: -1px;
		min-width: calc(100% + 3px);
		padding: 20px 30px 30px;
		border-radius: 0 0 10px 10px;
		background: #fff;
		border: 1px solid #dbdbdb;

		text-align: left;
		width: fit-content;
		opacity: 0;
		visibility: hidden;
		transition: opacity 0.3s ease 0s, visibility 0.3s ease 0s;
	}
	// .submenu__menu
	&__menu {
		display: flex;
		flex-direction: column;
		background: #fff;
		gap: 20px;
		@media (min-width: $md3) {
			position: relative;
			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				width: calc(100% + 60px);
				height: calc(100% + 30px);
				border-radius: 0 0 10px 10px;
				background: #fff;
				z-index: -1;
			}
		}
		&.submenu__menu-grid {
			display: grid;
			flex: 1 1 auto;
			@media (min-width: $md3) {
				grid-template-columns: repeat(2, 1fr);
			}
			@media (min-width: $md2) {
				grid-template-columns: repeat(3, 1fr);
			}
			&::before {
				display: none;
			}
		}
	}
	// .submenu__menu-item
	&__menu-item {
	}
	// .submenu__menu-link
	&__menu-link {
		text-align: left;
		transition: color 0.3s ease 0s;
		@media (any-hover: hover) {
			&:hover {
				color: $accent;
			}
		}
	}
}

.icon-menu {
	// position: absolute;
	// top: 50%;
	// left: 50%;
	// transform: translate(-50%, -50%);
	flex-shrink: 0;
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	padding: 0;
	background: rgba($color: #fff, $alpha: 0.8);
	color: $text;
	z-index: 11;
	height: 41px;
	width: 41px;
	@media (min-width: $md2) {
		width: 140px;
		height: 70px;
	}
	& span {
		display: block;
		padding: 4.5px 4px;
		transition: transform 0.4s ease 0.4s, opacity 0.4s ease 0.4s;
		will-change: transform;
		pointer-events: none;
		&::before {
			content: '';
			display: block;
			height: 2px;
			width: 20px;
			@media (min-width: $md2) {
				width: 70px;
			}
			pointer-events: none;
			background: currentColor;
			transition: transform 0.3s ease 0s, width 0.3s ease 0s;
			will-change: transform;
		}
	}
	.header.open-menu & {
		background: #f9f9f9;
		backdrop-filter: blur(10px);
		-webkit-backdrop-filter: blur(10px);
		& span {
			transition: transform 0.3s ease 0s, opacity 0.3s ease 0s;
			&::before {
				transition: transform 0.45s ease 0.35s, width 0.3s ease 0s;
				width: 40px;
			}
			&:first-child {
				transform: translateY(11px);
				&::before {
					transform: rotate(-135deg);
				}
			}
			&:nth-child(2) {
				opacity: 0;
			}
			&:nth-child(3) {
				transform: translateY(-11px);
				&::before {
					transform: rotate(-225deg);
				}
			}
		}
	}
}
